<h2>All authors</h2>

<div id="authors">
  <% if authors.any? %>
    <% authors.each do |author| %>
      <div class="author">
        <h2><%= author.name %></h2>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">There are no authors yet.</p>
  <% end %>
</div>
<br><br>
<%= link_to 'Add new author', routes.new_author_path %>
